.parent-div {
  margin-top: 20px;
  margin-bottom: 0;
  margin-inline: 20px;
  display: flex;
  justify-content: space-between;
  padding-inline: 6px;
  padding-block: 2px;
  background-color: white;
}
